.NavbarItems {
    background: rgb(55, 187, 187);
    height: 150px;
    text-align: center;
    margin-bottom: 10%;
}

.NavbarItems ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
    display: inline-block;
}

.NavbarItems ul li {
    margin: 0 4rem;
}
.NavbarItems ul li a{
    color: white;
    text-decoration: none;
    font-size: 30px;
  }
  .NavbarItems ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f1ad1b;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  .NavbarItems ul li:hover::after{
    width: 100%;
    
    }