*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

.App {
  text-align: center;
  background-image: url("../public/marble.png");
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}



.cards {
  column-width: 280px;
  width: 700px;
  column-gap: 140px;
  margin: 0 auto;
}

.card-body:hover{
  box-shadow: 0 8px 12px 0 rgb(243, 163, 15);
  /* background-image: url("/products/blue-blazer1.jpg"); */
}
.card-image{
  background-color: rgb(171, 245, 245);
  width: 100%;
  margin-bottom: 30px;
}

.card-body{
  background: white;
  width: 280px;
  text-align: center;
  height: 600px;
  margin-bottom: 20px;
}
.card-btn {
  width: 150px;
  height: 30px;
  transform: translate(0px, -60px);
  overflow: hidden;
  font-size: sans-serif;
  border: 1px solid gray;
  cursor: pointer;
}
.card-btn:hover{
  background: rgb(187, 23, 209);
  color: white;
  transition: 200ms ease-in;
}